# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log